<div class="card" style="width:135px;max-width: 140px;margin-left:1%;">
  <div class="card-header height-60px">Risks

  </div>
  <div class="card-body text-center">
    <div style="width:100%;">
      <div>
        <button type="button" class="button red-risk" (click)='red()'>{{numRed}}</button>
      </div>
      <div>
        <button type="button" class="button orange-risk" (click)='orange()'>{{numOrange}}</button>
      </div>
      <div >
        <button type="button" class="button yellow-risk" (click)='yellow()'>{{numYellow}}</button>
      </div>
    </div>
  </div>
</div>
