
<div class="jumbotron">

  <div class="text-center">
    <h1>Easyboard!!</h1>
  </div>

  <div class="card-columns" style="widht:95%;margin-top:1%;margin-left:1%;">
    <app-remaining></app-remaining>
    <!--<app-meeting></app-meeting>-->
    <app-blockers [blockers]="blockers"></app-blockers>
    <!--<app-risks></app-risks>-->
  </div>


  <h3>DEBUG</h3>
  <button type="button" class="btn btn-primary" (click)="addTestBlocker()">Add test blocker</button>
  <h3>Waiting for messages</h3>
  <h4>received message: <span class="message">{{message}}</span></h4>
</div>

